:host {
  display: block;
}

:host([orientation='horizontal']) {
  width: 100%;
  height: 0;
  border-top: 1px solid var(--border-subtle);
  margin: 1.6rem 0;
}

:host([orientation='vertical']) {
  display: inline-block;
  width: 0;
  align-self: stretch;
  border-left: 1px solid var(--border-subtle);
  margin: 0 1.6rem;
}

:host([strong]) {
  border-width: 2px;
  border-color: var(--primary);
}

:host([thin]) {
  border-width: 1px;
  border-color: var(--border-subtle);
}
